<div class="well <%= product.name%>">

    <div class="col-xs-8">
      <p><%= product.name %></small></p>
      <p><%= "absorbency: " + product.absorbency %></small></p>
      <p><%= product.quantity %></small></p>
    </div>


    <div class="col-xs-4">
      <%= form_for order_item do |f| %>
      <p class="text-right">Price: <span style="color: green"><%= number_to_currency product.price %></span></p>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
