<!DOCTYPE html>
<html>
<head>
  <title>BigRedDot</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "How it Works", root_path %> </li>
      <li><%= link_to "Products", products_path %> </li>
      <li><%= link_to "Reviews", root_path %> </li>
      <li><%= link_to "Join", join_path %> </li>
    <% if current_user %>
      <li> hello, <%= current_user.email %> </li>
      <li><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    <% else %>
      <li><%= render 'sessions/form_login' %></li>
    <% end %>
    <li><%= link_to image_tag('BRDLogo41.jpg', size: "69x69" ), root_path %></li>
    <li class="cart-text navbar-right"><%= render 'layouts/cart_text' %></li>
  </ul>
  </div>
  </nav>
  <div class="container">
      <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
      <% end %>




<%= yield %>

</div>

</body>
</html>
